.idea/**/kotlinc.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/workspace.xml
.idea/**/gradle.xml
.gradle
/build

Server/license.txt
Server/world
Server/world_nether
Server/world_the_end
Server/logs
Server/plugins
Server/ops.json
Server/banned-players.json
Server/whitelist.json
Server/banned-ips.json
Server/usercache.json